<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nhsuk.header.footer.api.client@Release" value="https://pkgs.dev.azure.com/nhsuk/nhsuk.header-footer-api-client/_packaging/nhsuk.header.footer.api.client%40Release/nuget/v3/index.json" />
  </packageSources>
</configuration>
