@{
    ViewBag.Title = "Check your answers";
    ViewBag.Description = "Check your answers example page";
}
@model SummaryViewModel

@if (!ViewData.ModelState.IsValid)
{
    <partial name="_NhsErrorSummary" />
}

<h1>@ViewBag.Title</h1>

<dl class="nhsuk-summary-list">
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Name
        </dt>
        <dd class="nhsuk-summary-list__value">
            @Model.Address
        </dd>
        <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" asp-action="Address">
                Change<span class="nhsuk-u-visually-hidden"> address</span>
            </a>
        </dd>
    </div>
</dl>
