<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Metadata" />
    <partial name="_AssetsPrefetch" />
    <partial name="_CSSReferences" />
    <partial name="_FontReferences" />
    <partial name="_JavascriptReferences" />
    <partial name="_AdobeAnalyticsScript" model='@ViewBag.AdobeAnalytics' />
    <partial name="_HotjarScript" />
    <partial name="_NhsukJavaScriptSettings" />
    <partial name="_Favicons" />
</head>
<body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
    @await Component.InvokeAsync("Header")
    <partial name="_Breadcrumb" model='@ViewBag.Breadcrumbs' />
    @RenderBody()
    @await Component.InvokeAsync("Footer")
</body>
</html>
