@{
    ViewBag.Title = "Home Page Title";
    ViewBag.Description = "Home Page Description";
}

<h1>NHS.UK base application</h1>
<p>View an <a asp-action="Address">example form</a> including validation where steps are stored in temp data.</p>
