@{
    ViewData["Title"] = "Home Page Title";
    ViewData["Description"] = "Home Page Description";
}

<main id="main-content" class="nhsuk-main-wrapper">
    <div class="nhsuk-width-container">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</main>
